<!DOCTYPE html>
<html>
<head>
    <title> DEMO: jsrender </title>
    <script type="text/javascript" src="/js/core/require.js"></script>
    <script type="text/javascript" src="/js/core/require.config.js"></script>
    <script type="text/javascript">
        var global = {
            data: {
                movies: [
                    { name: "The Red Violin", releaseYear: "1998" },
                    { name: "Eyes Wide Shut", releaseYear: "1999" },
                    { name: "The Inheritance", releaseYear: "1976" }
                ],
                people: [
                    { name: "Adriana" },
                    { name: "Robert" }
                ]
            },
            template: {}
        };

        function movie() {
            $.getScript("/templates/templates.js", function () {
                $("#movieList").html($.render.movie(global.data.movies));
            });
        }

        function person() {
            $.get("/templates/person.html", function (value) {
                global.template.person = $.templates(value);
                $("#peopleList").html(global.template.person.render(global.data.people));
            });
        }

        require(["jquery", "jquery.template"], function ($) {
            $(function () {
                movie();
                person();
            });
        });
    </script>
</head>
<body>

<div id="movieList"></div>
<hr/>
<div id="peopleList"></div>

</body>
</html>